workflows/linkedin-automation.json
{
  "name": "LinkedIn Automation Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hour",
              "value": 9
            },
            {
              "field": "minute",
              "value": 0
            }
          ]
        }
      },
      "id": "linkedin-scheduler",
      "name": "LinkedIn Scheduler",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "oAuth2",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "author",
              "value": "urn:li:person:{{ $json.authorId }}"
            },
            {
              "name": "lifecycleState",
              "value": "PUBLISHED"
            },
            {
              "name": "specificContent",
              "value": "={{ { \"com.linkedin.ugc.ShareContent\": { \"shareCommentary\": { \"text\": \"{{ $json.content }}\" }, \"shareMediaCategory\": \"NONE\" } } }}"
            },
            {
              "name": "visibility",
              "value": "={ \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\" }"
            }
          ]
        }
      },
      "id": "linkedin-post",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "credentials": {
        "linkedinOAuth2Api": {
          "id": "linkedin-credentials",
          "name": "LinkedIn OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "post-success",
              "leftValue": "={{ $json.status }}",
              "rightValue": 201,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "post-success-check",
      "name": "Check Post Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/socialMetrics/{{ $json.id }}",
        "authentication": "oAuth2",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        }
      },
      "id": "track-engagement",
      "name": "Track Engagement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200],
      "credentials": {
        "linkedinOAuth2Api": {
          "id": "linkedin-credentials",
          "name": "LinkedIn OAuth2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/connections",
        "authentication": "oAuth2",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        }
      },
      "id": "get-connections",
      "name": "Get Connections",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 400],
      "credentials": {
        "linkedinOAuth2Api": {
          "id": "linkedin-credentials",
          "name": "LinkedIn OAuth2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/invitations",
        "authentication": "oAuth2",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "invitee",
              "value": "={{ { \"com.linkedin.voyager.growth.invitation.Invitee\": { \"profile\": \"{{ $json.profileId }}\" } } }}"
            },
            {
              "name": "message",
              "value": "Hi! I'd love to connect with you on LinkedIn."
            }
          ]
        }
      },
      "id": "send-connection-request",
      "name": "Send Connection Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 400],
      "credentials": {
        "linkedinOAuth2Api": {
          "id": "linkedin-credentials",
          "name": "LinkedIn OAuth2"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Generate analytics report\nconst engagement = $input.first().json;\nconst connections = $input.all()[1].json;\n\nconst report = {\n  timestamp: new Date().toISOString(),\n  engagement: {\n    likes: engagement.totalShareStatistics?.likeCount || 0,\n    comments: engagement.totalShareStatistics?.commentCount || 0,\n    shares: engagement.totalShareStatistics?.shareCount || 0,\n    views: engagement.totalShareStatistics?.impressionCount || 0\n  },\n  connections: {\n    total: connections.elements?.length || 0,\n    newThisWeek: connections.elements?.filter(c => \n      new Date(c.createdTime) > new Date(Date.now() - 7 * 24 * 60 * 60 * 1000)\n    ).length || 0\n  },\n  recommendations: generateRecommendations(engagement, connections)\n};\n\nfunction generateRecommendations(engagement, connections) {\n  const recommendations = [];\n  \n  if (engagement.totalShareStatistics?.likeCount < 10) {\n    recommendations.push('Consider posting more engaging content');\n  }\n  \n  if (connections.elements?.length < 500) {\n    recommendations.push('Focus on growing your network');\n  }\n  \n  return recommendations;\n}\n\nreturn [{ json: report }];"
      },
      "id": "generate-analytics",
      "name": "Generate Analytics Report",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "LinkedIn Automation Report: {{ $json.timestamp }}\n\nEngagement:\n- Likes: {{ $json.engagement.likes }}\n- Comments: {{ $json.engagement.comments }}\n- Shares: {{ $json.engagement.shares }}\n- Views: {{ $json.engagement.views }}\n\nConnections: {{ $json.connections.total }}\nNew this week: {{ $json.connections.newThisWeek }}\n\nRecommendations:\n{{ $json.recommendations.join('\\n') }}"
            }
          ]
        }
      },
      "id": "send-notification",
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "content": "Content failed to post to LinkedIn. Please check the configuration.",
        "options": {}
      },
      "id": "error-notification",
      "name": "Error Notification",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "LinkedIn Scheduler": {
      "main": [
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to LinkedIn": {
      "main": [
        [
          {
            "node": "Check Post Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Post Success": {
      "main": [
        [
          {
            "node": "Track Engagement",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Connections",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track Engagement": {
      "main": [
        [
          {
            "node": "Generate Analytics Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Connections": {
      "main": [
        [
          {
            "node": "Send Connection Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Connection Request": {
      "main": [
        [
          {
            "node": "Generate Analytics Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Analytics Report": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "linkedin-automation",
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "linkedin",
      "name": "linkedin"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "automation",
      "name": "automation"
    }
  ]
}